# Connexion PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/stock_db?schema=public"

# Serveur
PORT=4000

# Authentification
JWT_SECRET="change-moi-en-une-longue-chaine-aleatoire"
JWT_EXPIRES_IN="7d"

# CORS
CLIENT_URL="http://localhost:5173"
